USE [SwimClubMeet2]
GO
/****** Object:  UserDefinedFunction [dbo].[PersonalBest]    Script Date: 26/08/2025 1:55:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Ben Ambrose
-- Create date: 3/8/2019
-- Updated 26/8/2025
-- Description:	Find the 'Personal Best' 
--				race time for a given Member
-- =============================================
ALTER FUNCTION [dbo].[PersonalBest] (
	-- Add the parameters for the function here
	@MemberID INT,
	@DistanceID INT,
	@StrokeID INT,
	@SessionDate DATETIME = NULL
	)
RETURNS TIME
AS
BEGIN
	-- Declare the return variable here
	DECLARE @Result TIME

	-- use a default sessiontime
	IF @SessionDate IS NULL
		SET @SessionDate = GETDATE();

	-- Add the T-SQL statements to compute the return value here
	SELECT @Result = MIN(Lane.RaceTime)
	-- CAST(CAST(MIN(Entrant.RaceTime) AS DATETIME) AS FLOAT) AS PersonalBest
	FROM Lane
	INNER JOIN Nominee ON lane.NomineeID = Nominee.NomineeID
	INNER JOIN Heat ON Lane.HeatID = Heat.HeatID
	INNER JOIN Event ON Heat.EventID = Event.EventID
	INNER JOIN Session ON Event.SessionID = Session.SessionID
	WHERE (Event.StrokeID = @StrokeID)
		AND (Event.DistanceID = @DistanceID)
		AND (Lane.RaceTime IS NOT NULL)
		AND (Lane.IsDisqualified <> 1) -- added 16/5/2020
		AND (Lane.IsScratched <> 1) -- added 16/5/2020
		AND (Session.StartDT < @SessionDate)
	GROUP BY Nominee.MemberID
	HAVING (Nominee.MemberID = @MemberID)

	-- Return the result of the function
	RETURN @Result
END
