/*
   Saturday, 9 August 20252:30:03 PM
   User: 
   Server: DESKTOP-MOITPNS\SQLEXPRESS
   Database: SwimClubMeet2
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.Session
	DROP CONSTRAINT SessionStatusSession
GO
ALTER TABLE dbo.SessionStatus SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.SessionStatus', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.SessionStatus', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.SessionStatus', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.Session
	DROP CONSTRAINT SwimClubSession
GO
ALTER TABLE dbo.SwimClub SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.SwimClub', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.SwimClub', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.SwimClub', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
CREATE TABLE dbo.Tmp_Session
	(
	SessionID int NOT NULL IDENTITY (1, 1),
	Caption nvarchar(128) NULL,
	StartDT datetime NULL,
	EndDT datetime NULL,
	CreatedOn datetime NULL,
	ModifiedOn datetime NULL,
	NomineeCount int NULL,
	EntrantCount int NULL,
	SwimClubID int NULL,
	SessionStatusID int NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.Tmp_Session SET (LOCK_ESCALATION = TABLE)
GO
GRANT DELETE ON dbo.Tmp_Session TO SCM_Administrator  AS dbo
GO
GRANT INSERT ON dbo.Tmp_Session TO SCM_Administrator  AS dbo
GO
GRANT SELECT ON dbo.Tmp_Session TO SCM_Administrator  AS dbo
GO
GRANT SELECT ON dbo.Tmp_Session TO SCM_Marshall  AS dbo
GO
GRANT SELECT ON dbo.Tmp_Session TO SCM_Guest  AS dbo
GO
GRANT UPDATE ON dbo.Tmp_Session TO SCM_Administrator  AS dbo
GO
SET IDENTITY_INSERT dbo.Tmp_Session ON
GO
IF EXISTS(SELECT * FROM dbo.Session)
	 EXEC('INSERT INTO dbo.Tmp_Session (SessionID, Caption, StartDT, EndDT, ModifiedOn, NomineeCount, EntrantCount, SwimClubID, SessionStatusID)
		SELECT SessionID, Caption, SessionStart, SessionEnd, ClosedDT, NomineeCount, EntrantCount, SwimClubID, SessionStatusID FROM dbo.Session WITH (HOLDLOCK TABLOCKX)')
GO
SET IDENTITY_INSERT dbo.Tmp_Session OFF
GO
ALTER TABLE dbo.ScheduleSession
	DROP CONSTRAINT FK_SessionSchedule
GO
ALTER TABLE dbo.Event
	DROP CONSTRAINT SessionEvent
GO
DROP TABLE dbo.Session
GO
EXECUTE sp_rename N'dbo.Tmp_Session', N'Session', 'OBJECT' 
GO
ALTER TABLE dbo.Session ADD CONSTRAINT
	PK_Session PRIMARY KEY NONCLUSTERED 
	(
	SessionID
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.Session ADD CONSTRAINT
	SwimClubSession FOREIGN KEY
	(
	SwimClubID
	) REFERENCES dbo.SwimClub
	(
	SwimClubID
	) ON UPDATE  NO ACTION 
	 ON DELETE  CASCADE 
	
GO
ALTER TABLE dbo.Session ADD CONSTRAINT
	SessionStatusSession FOREIGN KEY
	(
	SessionStatusID
	) REFERENCES dbo.SessionStatus
	(
	SessionStatusID
	) ON UPDATE  NO ACTION 
	 ON DELETE  SET NULL 
	
GO
COMMIT
select Has_Perms_By_Name(N'dbo.Session', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.Session', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.Session', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.Event ADD CONSTRAINT
	SessionEvent FOREIGN KEY
	(
	SessionID
	) REFERENCES dbo.Session
	(
	SessionID
	) ON UPDATE  NO ACTION 
	 ON DELETE  CASCADE 
	
GO
ALTER TABLE dbo.Event SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.Event', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.Event', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.Event', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.ScheduleSession ADD CONSTRAINT
	FK_SessionSchedule FOREIGN KEY
	(
	SessionID
	) REFERENCES dbo.Session
	(
	SessionID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.ScheduleSession SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.ScheduleSession', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.ScheduleSession', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.ScheduleSession', 'Object', 'CONTROL') as Contr_Per 