USE [SwimClubMeet]
GO
/****** Object:  UserDefinedFunction [dbo].[HeatCount]    Script Date: 11/07/2025 11:54:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Ben Ambrose
-- Create date: 14/8/2019
-- Description:	Count the number of heats in an event
-- =============================================
CREATE FUNCTION [dbo].[HeatCount] (
	-- Add the parameters for the function here
	@EventID INT
	)
RETURNS INT
AS
BEGIN
	-- Declare the return variable here
	DECLARE @Result INT

	-- Add the T-SQL statements to compute the return value here
	SELECT @Result = @EventID

	-- Add the T-SQL statements to compute the return value here
	SELECT @Result = Count(Heat.EventID)
	FROM Heat
	WHERE Heat.EventID = @EventID
	GROUP BY Heat.EventID

	-- Return the result of the function
	RETURN @Result
END
GO
