USE [SwimClubMeet]
GO
/****** Object:  UserDefinedFunction [dbo].[SessionEntrantCount]    Script Date: 11/07/2025 11:54:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Ben Ambrose
-- Create date: 15/11/2019
-- Modified on: 05/09/2023
--
-- Description:	Count the number of swimmers for the session.
-- Determines if the event is INDV or TEAM.
-- =============================================
CREATE FUNCTION [dbo].[SessionEntrantCount] (
	-- Add the parameters for the function here
	@SessionID INT
	)
RETURNS INT
AS
BEGIN
	-- Declare the return variable here
	DECLARE @Result INT
	DECLARE @Ent  INT;
	DECLARE @TeamEnt INT;

	SET @Ent = (SELECT Count(Entrant.MemberID)
	FROM Entrant
	INNER JOIN Heat ON Entrant.HeatID = Heat.HeatID
	INNER JOIN Event ON Heat.EventID = Event.EventID
	WHERE (Event.SessionID = @SessionID) AND
		(Entrant.MemberID IS NOT NULL) AND (Entrant.MemberID > 0));

	SET @TeamEnt = (SELECT Count(TeamEntrant.MemberID)
	FROM TeamEntrant
	INNER JOIN Team ON TeamEntrant.TeamID = Team.TeamID
	INNER JOIN Heat ON Team.HeatID = Heat.HeatID
	INNER JOIN Event ON Heat.EventID = Event.EventID
	WHERE (Event.SessionID = @SessionID) AND
		(TeamEntrant.MemberID IS NOT NULL) AND (TeamEntrant.MemberID > 0));

	SET @Result = @Ent + @TeamEnt;

	-- Return the result of the function
	RETURN @Result
END
GO
