USE [SwimClubMeet]
GO
/****** Object:  UserDefinedFunction [dbo].[ABSEventPlace]    Script Date: 11/07/2025 11:54:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Ben Ambrose
-- Create date: 2020.11.04
-- Description:	Find the ABSOLUTE place of the member in the event.
-- =============================================
CREATE FUNCTION [dbo].[ABSEventPlace] 
(
	-- Add the parameters for the function here
	@EventID int
	,@MemberID int
)
RETURNS int
AS
BEGIN
	-- Declare the return variable here
	DECLARE @Result int;

WITH CTE_Event (
	Place
	,RaceTime
	,EventID
	,MemberID
	)
AS (
	SELECT ROW_NUMBER() OVER (
			ORDER BY CASE 
					WHEN RaceTime IS NULL
						THEN 1
					ELSE 0
					END ASC
				,CASE 
					WHEN (CAST(CAST(RaceTime AS DATETIME) AS FLOAT) = 0)
						THEN 1
					ELSE 0
					END ASC
				,RaceTime ASC
			) AS Place
		,Entrant.RaceTime
		,Event.EventID
		,Entrant.MemberID
	FROM Event
	INNER JOIN Heat ON Event.EventID = Heat.EventID
	INNER JOIN Entrant ON Heat.HeatID = Entrant.HeatID
	WHERE Event.EventID = @EventID
		AND MemberID IS NOT NULL
		AND Entrant.IsDisqualified = 0
		AND Entrant.IsScratched = 0
	)

	-- Add the T-SQL statements to compute the return value here
	SELECT @Result = (SELECT Place FROM CTE_Event WHERE CTE_Event.MemberID = @MemberID )

	-- Return the result of the function
	RETURN @Result

END
GO
