USE [SwimClubMeet]
GO
/****** Object:  UserDefinedFunction [dbo].[PersonalBest]    Script Date: 11/07/2025 11:54:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Ben Ambrose
-- Create date: 3/8/2019
-- Updated 16/5/2020
-- Description:	Find the 'Personal Best' 
--				race time for a given Member
-- =============================================
CREATE FUNCTION [dbo].[PersonalBest] (
	-- Add the parameters for the function here
	@MemberID INT,
	@DistanceID INT,
	@StrokeID INT,
	@SessionDate DATETIME = NULL
	)
RETURNS TIME
AS
BEGIN
	-- Declare the return variable here
	DECLARE @Result TIME

	-- use a default sessiontime
	IF @SessionDate IS NULL
		SET @SessionDate = GETDATE();

	-- Add the T-SQL statements to compute the return value here
	SELECT @Result = MIN(Entrant.RaceTime)
	-- CAST(CAST(MIN(Entrant.RaceTime) AS DATETIME) AS FLOAT) AS PersonalBest
	FROM Entrant
	INNER JOIN Heat ON Entrant.HeatID = Heat.HeatID
	INNER JOIN Event ON Heat.EventID = Event.EventID
	INNER JOIN Session ON Event.SessionID = Session.SessionID
	WHERE (Event.StrokeID = @StrokeID)
		AND (Event.DistanceID = @DistanceID)
		AND (Entrant.RaceTime IS NOT NULL)
		AND (Entrant.IsDisqualified <> 1) -- added 16/5/2020
		AND (Entrant.IsScratched <> 1) -- added 16/5/2020
		AND (Session.SessionStart < @SessionDate)
	GROUP BY Entrant.MemberID
	HAVING (Entrant.MemberID = @MemberID)

	-- Return the result of the function
	RETURN @Result
END
GO
