USE [SwimClubMeet]
GO
/****** Object:  UserDefinedFunction [dbo].[IsMemberNominated]    Script Date: 11/07/2025 11:54:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Ben Ambrose
-- Create date: 04/02/2023
-- Description:	Is the member nominated for the event
-- =============================================
CREATE FUNCTION [dbo].[IsMemberNominated]
(
    -- Add the parameters for the function here
    @MemberID INT
  , @EventID INT
)
RETURNS BIT
AS
BEGIN
    -- Declare the return variable here
    DECLARE @Result BIT;
    DECLARE @Count AS INTEGER;

    SELECT @Count =
    (
        SELECT COUNT(dbo.nominee.NomineeID) AS NOM
        FROM Nominee
        WHERE memberid = @MemberID
              AND EventID = @EventID
    );

    IF @Count = 0
        SELECT @Result = 0;
    ELSE
        SELECT @Result = 1;

    -- Return the result of the function
    RETURN @Result

END


GO
