USE [SwimClubMeet]
GO
/****** Object:  UserDefinedFunction [dbo].[EntrantCountv2]    Script Date: 15/07/2025 11:42:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Artanemus
-- Create date: 2025-7-15
-- Description:	Entrant Count ALT
-- =============================================
ALTER FUNCTION [dbo].[EntrantCountv2] 
(
	-- Add the parameters for the function here
	@EventID int
)
RETURNS int
AS
BEGIN
    -- Declare the return variable here
    DECLARE @Result INT;
	DECLARE @EventTypeID  INT;

	SET @EventTypeID = (SELECT EventTypeID FROM dbo.[Event] WHERE [Event].EventID = @EventID);
	SET @Result = 0;

	-- IF @EventTypeID IS NULL RETURN @Result; 
	IF ((@EventTypeID IS NULL) OR (@EventTypeID = 0)) SET @EventTypeID = 1; 

	IF @EventTypeID = 1
	BEGIN
		SELECT @Result = Count(Entrant.EntrantID)
		FROM Entrant
		INNER JOIN Heat
			ON Entrant.HeatID = Heat.HeatID
		WHERE (Entrant.MemberID IS NOT NULL) AND (Entrant.MemberID > 0)
		GROUP BY Heat.EventID
		HAVING Heat.EventID = @EventID
	END;

	ELSE IF @EventTypeID = 2
	BEGIN
		SELECT @Result = Count(TeamEntrant.TeamEntrantID)
		FROM TeamEntrant
		INNER JOIN Team
			ON TeamEntrant.TeamID = Team.TeamID
		INNER JOIN Heat
			ON Team.HeatID = Heat.HeatID
		WHERE (TeamEntrant.MemberID IS NOT NULL) AND (TeamEntrant.MemberID > 0)
		GROUP BY Heat.EventID
		HAVING Heat.EventID = @EventID
	END;

    -- Return the result of the function
    RETURN @Result;

END

