USE [SwimClubMeet]
GO
/****** Object:  UserDefinedFunction [dbo].[PrettyEventString]    Script Date: 16/07/2025 10:33:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Artanemus
-- Create date: 2025-07-15
-- Description:	Pretty Event String
-- =============================================
ALTER FUNCTION [dbo].[PrettyEventString] 
(
	-- Add the parameters for the function here
	@EventID int
)
RETURNS nvarchar
AS
BEGIN
	-- Declare the return variable here
	DECLARE @Result nvarchar(200);
	SET @Result = '';

	SELECT @Result = (
	Select 
	Concat(EventType.Caption, ' ', Distance.Caption, ' ', Stroke.Caption)
	AS ValueStr
	FROM Event
	LEFT JOIN distance ON [event].DistanceID = Distance.DistanceID
	LEFT join stroke on [event].strokeid = stroke.strokeid
	LEFT join EventType on [Distance].EventTypeID = EventType.EventTypeID
	where [event].eventid = @EventID); 

	-- Return the result of the function
	RETURN @Result

END
